.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.connect {
    font-size: 11px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #07d0eb;
    color: #ffffff;
    border-radius: 1px;
  }
  
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.btn {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.btn:hover {
    background-color: #45a049;
  }